In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/bike_data_new.csv")

In [ ]:
df.head()

,trip_id,started_at,ended_at,start_lat,start_lng,end_lat,end_lng
0,1,01-02-2023 00:03,01-02-2023 00:13,38.905470,-77.002130,38.906299,-76.983221
1,2,01-02-2023 00:06,01-02-2023 00:19,38.907693,-77.071512,38.909858,-77.038566
2,3,01-02-2023 00:07,01-02-2023 00:14,38.915544,-77.038252,38.916137,-77.022003
3,4,01-02-2023 00:07,01-02-2023 00:26,38.909701,-77.085646,38.935839,-77.106913
4,5,01-02-2023 00:10,01-02-2023 00:20,38.905509,-77.065246,38.898302,-77.046913

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6867 entries, 0 to 6866
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   trip_id     6867 non-null   int64
 1   started_at  6867 non-null   object
 2   ended_at    6867 non-null   object
 3   start_lat   6867 non-null   float64
 4   start_lng   6867 non-null   float64
 5   end_lat     6867 non-null   float64
 6   end_lng     6867 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 375.7+ KB

In [ ]:
df['started_at'] = pd.to_datetime(df['started_at'])

In [ ]:
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6867 entries, 0 to 6866
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   trip_id     6867 non-null   int64
 1   started_at  6867 non-null   datetime64[ns]
 2   ended_at    6867 non-null   datetime64[ns]
 3   start_lat   6867 non-null   float64
 4   start_lng   6867 non-null   float64
 5   end_lat     6867 non-null   float64
 6   end_lng     6867 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(1)
memory usage: 375.7 KB

In [ ]:
time_diff = []
num = 0
for i in range(len(df)):
    t1 = df.iloc[i]['started_at']
    t2 = df.iloc[i]['ended_at']
    diff = pd.Timedelta(t2 - t1).seconds
    time_diff.append(diff)

In [ ]:
z_list = [i for i, value in enumerate(time_diff) if value == 0]
print(z_list)

[135, 286, 428, 532, 562, 767, 969, 1034, 1134, 1180, 1266, 1344, 1354, 1549, 1569, 1570, 1585, 1595, 1668, 1798, 1962, 2308, 2493, 2578, 2703, 2903, 2971, 3069, 3078, 3195, 3213, 3257, 3525, 3701, 3995, 4162, 4444, 4708, 4816, 4940, 5313, 5661, 5827, 5972, 6067, 6606]

In [ ]:
df = df.drop(z_list)

In [ ]:

time_diff = list(filter(lambda num: num != 0, time_diff))

In [ ]:
print(len(df))
print(len(time_diff))

6821
6821

In [ ]:
print("max values: ", max(time_diff))
print("min values: ", min(time_diff))
print("number of min values: ", time_diff.count(min(time_diff)))

max values:  31080
min values:  60
number of min values:  89

In [ ]:
num=0
for i in range(len(df)):
    if df.iloc[i]['start_lat'] == df.iloc[i]['end_lat'] and df.iloc[i]['start_lng'] == df.iloc[i]['end_lng']:
        num =+ 1

print("number of round trip: ", num)

number of round trip:  1

In [ ]:
df.head()

,trip_id,started_at,ended_at,start_lat,start_lng,end_lat,end_lng
0,1,2023-01-02 00:03:00,2023-01-02 00:13:00,38.905470,-77.002130,38.906299,-76.983221
1,2,2023-01-02 00:06:00,2023-01-02 00:19:00,38.907693,-77.071512,38.909858,-77.038566
2,3,2023-01-02 00:07:00,2023-01-02 00:14:00,38.915544,-77.038252,38.916137,-77.022003
3,4,2023-01-02 00:07:00,2023-01-02 00:26:00,38.909701,-77.085646,38.935839,-77.106913
4,5,2023-01-02 00:10:00,2023-01-02 00:20:00,38.905509,-77.065246,38.898302,-77.046913

In [ ]:
start_time = pd.to_datetime('06:00:00').time()
end_time = pd.to_datetime('18:00:00').time()

In [ ]:
filtered_df = df[(df['started_at'].dt.time >= start_time) & (df['started_at'].dt.time <= end_time)]

In [ ]:
fil_df = filtered_df[(filtered_df['ended_at'].dt.time >= start_time) & (filtered_df['ended_at'].dt.time <= end_time)]

In [ ]:
len(fil_df)

4692

In [ ]:
fil_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4692 entries, 122 to 4964
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   trip_id     4692 non-null   int64
 1   started_at  4692 non-null   datetime64[ns]
 2   ended_at    4692 non-null   datetime64[ns]
 3   start_lat   4692 non-null   float64
 4   start_lng   4692 non-null   float64
 5   end_lat     4692 non-null   float64
 6   end_lng     4692 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(1)
memory usage: 293.2 KB

In [ ]:
fil_df = fil_df.sort_values(by='started_at')

In [ ]:

# create a hash table to store the end locations of each trip
end_locs = {}

# initialize a counter for the number of feasible pairs
num_feasible_pairs = 0


for i in range(len(fil_df)):
    # get the end location of the current trip
    end_loc = (fil_df.iloc[i]['end_lat'], fil_df.iloc[i]['end_lng'])
    # check if the end location is in the hash table
    if end_loc in end_locs:
        prev_trips = end_locs[end_loc]
        # loop through the previous trips and check if they can be served in succession with the current trip
        for prev_trip in prev_trips:
            if prev_trip['end_time'] <= fil_df.iloc[i]['started_at']:
                # increment the counter for the number of feasible pairs
                num_feasible_pairs += 1
    if end_loc not in end_locs:
        end_locs[end_loc] = []
    end_locs[end_loc].append({'end_time': fil_df.iloc[i]['ended_at']})

# display the total number of feasible pairs
print("Total number of feasible pairs of trips:", num_feasible_pairs)

Total number of feasible pairs of trips: 49447